<div class="container-fluid bg-dark"><br><br>
 <div class="container">
  <div class="row">
   <div class="col-md-3">
     <img src="https://cdn.glitch.global/5e688893-bffe-413d-a05c-cf64cb5baa08/32.png?v=1660727189910" class="rounded w-100">
    </div>  
    <div class="col-md-9 text-light">
      <h4><span class="variable">let</span> Hello = <span class="v-string">"I'm Kawethra"</span> <span class="comment">// Hasan Kılıcı</h4>
      Hi, I'm Hasan. I'm a Web Developer.<BR>
      I've this Know And I Use: HTML, CSS, JS , PHP, Node.js, Express, EJS. <br>
      I'm student in a SMTAL Web Desing & Graphic Design.<br><br>
     <div class="col-12 social-box">
       <a href="https://github.com/hasan-kilici"><i class="social fab fa-github"></i></a>
     </div>
    </div>
  </div>  
 </div>
</div>
  
